---
import "../styles/global.css"

import Header from "../components/layout/Header.astro"
import Footer from "../components/layout/Footer.astro"

const { title, emoji, tone, desc } = Astro.props
---

<html
    lang={Astro.currentLocale}
    data-tone={tone}
>
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="img/svg+xml"
            href="/favicon.svg"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
        />
        <meta
            name="description"
            content={desc}
        />
        <title>{`${title} - ȧ.io`}</title>
    </head>
    <body
        class={` 
		bg-page-dim
      selection:bg-selection-bg selection:text-selection
    `}
    >
        <Header emoji={emoji} />
        <section
            class={`
          flex h-[60dvh] min-h-[30rem] w-full justify-center isolate
        `}
        >
            <div
                class={`
             flex w-full max-w-[calc(65ch+3rem)] flex-col justify-end gap-6 px-7
          `}
            >
                <span
                    class="text-8xl"
                    aria-hidden="true"
                    >{emoji}</span
                >
                <h1 class="text-text-bright mb-20">{title}</h1>
            </div>
        </section>
        <main
            class={`
        flex w-full flex-col items-center leading-loose
        text-text ring-2 ring-page-grid 
      `}
        >
            <article
                class={`max-w-[calc(65ch+4rem)] w-full border-x-2 border-page-grid bg-page py-8 box-content -z-20`}
            >
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
